body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.photo-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.photo {
    margin: 10px;
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #aaa;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
}

.photo h3 {
    text-align: center;
    color: #333;
    margin-top: 10px;
    font-size: 1.2em;
    position: relative;
}

.photo h3::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #333;
    transition: width 0.3s ease;
}

.photo h3:hover::after {
    width: 100%;
    left: 0;
    background: #333;
}

.photo p {
    text-align: center;
    color: #333;
    margin: 10px 0;
}

.photo button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.photo button:hover {
    background-color: #555;
}
